<div class="page-header no-margin no-padding">
		<div class="container" style="height: 120px;">
                    <img src="images/ibm-Black.jpg" class="img-responsive" width="150">
             <br><h3 style="float:right;">Welcome, {{username}} &nbsp;&nbsp;<a href="#/home" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Log out</a></h3>
                </div>
</div>
		<nav class="navbar navbar-inverse navbar-static-top no-margin" >
                    <div class="container">	
                        <div class="navbar-header" style="width: 100%;">
                                <a class="navbar-brand" id="navTitle" style="border-right: 1px solid white;"> IBM - Achievements <span class="glyphicon glyphicon-globe"> </span>  </a>
                                  
                            <a href="#/managerMyRequests" class="navbar-brand" style="float: right;  margin-right: 8px;" >My Requests</a>
                            <a href="#/managerSubmissions" class="navbar-brand" style="float: right;  margin-right: 8px;" >Employees Requests</a>
                            <a href="#/managerReports" class="navbar-brand" style="float: right; margin-right: 8px;" >Reports</a>
                        </div>
                    </div>        
		</nav>
<div class="container" style="padding-top:20px;">
       
    
  <br><br>
  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 >Search By:</h3> 
            <select class="form-control" ng-model="searchFor" >
                <option value="EmployeeID"  ng-model="searchFor" >Employee ID</option>
                <option value="Status"  ng-model="searchFor" >Status</option>
                <option value="IDplusStatus"  ng-model="searchFor">Employee ID & Status</option>
                <option value="Date"  ng-model="searchFor">Date</option>
                <option value="AchievementType"  ng-model="searchFor">Achievement Type</option>
                <option value="BusinessUnits"  ng-model="searchFor">Business Units</option>
            </select>
            <br />
            <br />
        </div>
    </div>
  
   <form role="form">
        <div class="form-group" ng-show="searchFor=='EmployeeID'">
            <div class="input-group">
                 <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="number" class="form-control" placeholder="Search by EmployeeID" ng-model="searchID">
                    

      </div>
            <br>
      <button ng-click="getAchievementsByEmployeeId(searchID)">getAchievements</button>
    </div>
        
        
          <div class="form-group" ng-show="searchFor=='Status'" >
            <div class="input-group">
        
                <strong>Status</strong> <br>
                   <input type="radio" name="statusType" value="Approved"  ng-click="getAchievementsByStatus('Approved')"  ng-model="searchStatus"> Approved<br>
                    <input type="radio" name="statusType" value="Pending"   ng-click="getAchievementsByStatus('Pending')"   ng-model="searchStatus"> Pending<br>
                    <input type="radio" name="statusType" value="Declined"  ng-click="getAchievementsByStatus('Rejected')"   ng-model="searchStatus"> Rejected<br>
                    <input type="radio" name="statusType" value="Declined"   ng-click="getAchievementsByStatus('Returned')"  ng-model="searchStatus"> Returned<br>
      </div>
      
    </div>
          
          <div class="form-group" ng-show="searchFor=='IDplusStatus'">
            
            <div class="input-group">
                 <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search by EmployeeID" ng-model="searchID">
                    

      </div>
            
            <br>
                    <hr>
            <div class="input-group">
        
                <strong>Status</strong> <br>
                    <input type="radio" name="statusType" value="Approved"  ng-click="getAchievementsByStatus('Approved')"  ng-model="searchStatus"> Approved<br>
                    <input type="radio" name="statusType" value="Pending"   ng-click="getAchievementsByStatus('Pending')"   ng-model="searchStatus"> Pending<br>
                    <input type="radio" name="statusType" value="Declined"  ng-click="getAchievementsByStatus('Rejected')"   ng-model="searchStatus"> Rejected<br>
                    <input type="radio" name="statusType" value="Declined"   ng-click="getAchievementsByStatus('Returned')"  ng-model="searchStatus"> Returned<br>
      </div>
            
            
     </div>
          
          
          <div id="yearDropDown" class="form-group" ng-show="searchFor=='Date'">
          
          <select class="form-control" ng-model="dateDropDown">
          <h3 style="font-family: fantasy;">Search By:</h3>
          <option value="Quarter" ng-model="dateDropDown">Quarter
          <option value="Month" ng-model="dateDropDown">Month
          </select>
          
          
          
         
          <div ng-show="dateDropDown=='Quarter'">
           <h3 style="font-family: fantasy;">Year:</h3>
              <select id="yearDate" ng-model="yearDropDown">
             
               <option ng-repeat="n in range()" ng-selected="true" value="{{n}}">{{n}}</option>
              </select>
              
             <h3 style="font-family: fantasy;">Quarter:</h3> 
             <select id="quarterDate" ng-model="quarterDropDown">
              <option  ng-selected="true" value="1"> 1</option>
              <option  value="2"> 2</option>
              <option  value="3"> 3</option>
              <option  value="4"> 4</option>
              </select>
              <button ng-click="getAchievementsByQuarter()">Get Achivements</button>
                </div>
                
           <div ng-show="dateDropDown=='Month'">
           <h3 style="font-family: fantasy;">Year:</h3>
              <select id="yearDate" ng-model="yearDropDown">
             
               <option ng-repeat="n in range()" ng-selected="true" value="{{n}}">{{n}}</option>
              </select>
              
              
              <h3 style="font-family: fantasy;"> Month:</h3>
              <select id="monthDate" ng-model="monthDropDown">
              
              <option ng-model="monthDropDown" ng-selected="true" value="01"> 1</option>
              <option ng-model="monthDropDown" value="02"> 2</option>
              <option ng-model="monthDropDown" value="03"> 3</option>
              <option ng-model="monthDropDown" value="04" > 4</option>
              <option ng-model="monthDropDown" value="05" > 5</option>
              <option ng-model="monthDropDown" value="06" > 6</option>
              <option ng-model="monthDropDown" value="07"> 7</option>
              <option ng-model="monthDropDown" value="08"> 8</option>
              <option ng-model="monthDropDown" value="09"> 9</option>
              <option ng-model="monthDropDown" value="10"> 10</option>
              <option ng-model="monthDropDown" value="11"> 11</option>
              <option ng-model="monthDropDown" value="12"> 12</option>
              </select>
              <button ng-click="getAchievementsByMonth()">Get Achivements</button>
                </div>      
                
               </div>

<div ng-show="searchFor=='AchievementType'">
                <div class="row">
                       <div class="col-md-6 col-md-offset-3">
                           <h3 style="font-family: fantasy;">Select Achievement :</h3> 
                           <select class="form-control" ng-model="myDropDown"  >
                               <option selected ></option>
                               <option ng-click="getAchievementsByType(AchievementsData.name)" ng-repeat="AchievementsData in myAchievementsData.Achievements"   value="{{AchievementsData.name}}">{{AchievementsData.name}}</option>
                           </select>
                           <br />
                           <br />
                       </div>
                   </div>
                
            </div>
            
            <div>    
                
        <div class="form-group" ng-show="searchFor=='BusinessUnits'">
             <strong>Search By Business Units</strong> <br>
                <select class="form-control" ng-model="searchBrand" > 
                <option value="Analytics"  ng-model="searchBrand" >Analytics</option>
                <option value="Cloud"  ng-model="searchBrand" >Cloud</option>
                <option value="Commerce"  ng-model="searchBrand">Commerce</option>
                <option value="Health Care"  ng-model="searchBrand">Health Care</option>
                <option value="Security"  ng-model="searchBrand">Security</option>
                <option value="Systems"  ng-model="searchBrand">Systems</option>
                <option value="Watson"  ng-model="searchBrand">Watson</option>
            </select>
                     
      
        </div>
            
    
    <hr>
    <div ng-show="searchFor=='EmployeeID'">

 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqData">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
   
   
  <div ng-show="searchFor=='Status'">
   
 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqDataStatus">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
        
        
  <div ng-show="searchFor=='AchievementType'">
   
 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqDataType ">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
        
         <div ng-show="searchFor=='BusinessUnits'">
   
 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                   
                </tr>
                <tr ng-repeat="ReqData in myReqData |filter:searchBrand">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                   
                    
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
        
        
             <div ng-show="searchFor=='IDplusStatus'">
   
 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqData |filter:{achievementId:searchID}|filter:{status:searchStatus}">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
        
        
        <div ng-show="searchFor=='Date'">
   
 <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Employee Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th Style="width:auto;" class="text-center">LOB Name
                    </th>
                    <th class="text-center" Style="width:auto;">Achievement Date
                    </th>
                     <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqData ">
                    <td>{{getFirstEmployee(ReqData.employees)}}</td>
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate | date : 'MM/dd/yyyy'}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
   
        
        
        </div>