<div class="page-header no-margin no-padding">
		<div class="container" style="height: 120px;">
                    <img src="images/ibm-Black.jpg" class="img-responsive" width="150">
            <br><h3 style="float:right;">Welcome, {{username}} &nbsp;&nbsp;<a href="#/home" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Log out</a></h3>
                </div>
</div>
		<nav class="navbar navbar-inverse navbar-static-top no-margin" >
                    <div class="container">	
                        <div class="navbar-header" style="width: 100%;">
                                <a class="navbar-brand" id="navTitle" style="border-right: 1px solid white;"> IBM - Achievements <span class="glyphicon glyphicon-globe"> </span>  </a>
                           
                            <a href="#/managerMyRequests" class="navbar-brand" style="float: right; margin-right: 8px;" >My Requests</a>
                            <a href="#/managerSubmissions" class="navbar-brand" style="float: right;  margin-right: 8px;" >Submissions</a>
                            <a href="#/managerReports" class="navbar-brand" style="float: right;   margin-right: 8px;" >Reports</a>
                        </div>
                    </div>        
		</nav>

<div class="container" style="padding-top:20px;">
    <a href="#/managerAchievements" class="btn btn-success" style="margin-bottom: 30px; float: right;" value="Submit"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Achievement</a>
    
    <div style="width:auto; float: left;">
        <h1>Reserved for Manager View!</h1><br><br><br><br><br>
        <div class="panel panel-default ">
            
            <table class="table table-striped text-center" style="width:900px;">
                <tr>
                    <th class="text-center" Style="width:auto;">Achievement Type
                    </th>
                    <th class="text-center" Style="width:auto;">Label
                    </th>
                    <th Style="width:auto;" class="text-center">Date
                    </th>
                    <th class="text-center" Style="width:auto;">Status
                    </th>
                </tr>
                <tr ng-repeat="ReqData in myReqData">
                    <td>{{ReqData.achievementType}}</td>
                    <td>{{ReqData.lobName}}</td>
                    <td>{{ReqData.achievementDate}}</td>
                    
                    <td>
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Approved" style="color:green">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-ok" style="color:green"> </span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Pending" style="color:orange">
                                 {{ReqData.status}}
                                <span class="glyphicon glypbhicon-hourglass" style="color:orange"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Rejected" style="color:red">
                                 {{ReqData.status}}
                                <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </div>
                        </div> 
                        <div ng-switch on="ReqData.status">
                            <div ng-switch-when="Returned" style="color:blue">
                                 {{ReqData.status}}
                               <a id="{ReqData.achievementId}" ng-click="showAchievements(ReqData.achievementId)"><span class="glyphicon glyphicon-share-alt" style="color:blue"> </span></a>
                            </div>
                        </div> 
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
    
    
</div>